2020-10-02-menumori-strapi/config/database.js
2020-10-02-menumori-strapi/node_modules/
2020-10-02-menumori-strapi/public/uploads/
2020-10-02-menumori-strapi/build/

2020-10-02-menumori-bot-api/node_modules/

2020-10-02-menumori-frontend/node_modules/
2020-10-02-menumori-frontend/.next/
2020-10-02-menumori-frontend/build
2020-10-02-menumori-frontend/.DS_Store
2020-10-02-menumori-frontend/*.pem
2020-10-02-menumori-frontend/npm-debug.log*
2020-10-02-menumori-frontend/.env.local
2020-10-02-menumori-frontend/.env.development.local
2020-10-02-menumori-frontend/.env.test.local
2020-10-02-menumori-frontend/.env.production.local
2020-10-02-menumori-frontend/.vercel


2020-10-24-simulations/node_modules/


MENUMORISETTINGS.json